* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 229, 228, .7);
}

a {
    text-decoration: none;
    font-size: 1.1em;
}

header {
    width: 100%;
    height: 100%;
}

.navbar-1 {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    width: 100%;
}

ul li {
    margin: 0 1rem;
    transition: all .5s ease 0s;
    padding: 1rem;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    color: black;
    display: inline-block;
    cursor: pointer;
}

ul li a:hover {
    transform: scale(1.2, 1.2);
    transition: all .5s ease 0s;
}

.flex-nav {
    display: flex;
    justify-content: flex-start;
}

.icons-i {
    display: flex;
    justify-content: flex-end !important;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    transition: 0.4s;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: 0.4s;
}

@media (max-width: 800px) {
    a {
        font-size: 1em;
    }
    ul li {
        margin: 0;
    }
    .icons-i {
        display: inline-block;
    }
    .toggle-button {
        display: flex;
        align-self: end;
    }
    .flex-nav {
        display: none;
    }
    .flex-nav.active {
        display: flex;
        flex-direction: column;
    }
    .icons-i.active {
        display: none;
    }
    .toggle-button.active #bar2 {
        background-color: transparent;
    }
    .toggle-button.active #bar1 {
        transition: 0.4s;
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .toggle-button.active #bar3 {
        transform: rotate(45deg) translate(-6px, -6px);
        transition: 0.4s;
    }
}