*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(231, 229, 228, .7);          
}


a {
    text-decoration: none;
    font-size: 16px;
}

header{
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}


ul {
    list-style: none;
    width: 100%;
}

ul li {
    margin: 0 1rem;
    transition: all .5s ease 0s;
    padding: 1rem;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    color: black;
    display: inline-block;
    cursor: pointer;
}

ul li a:hover {
    transform: scale(1.2, 1.2);
    transition: all .5s ease 0s;
}

.icons {
    display: flex;
    justify-content: flex-end;
}




