<h1>About Me</h1>
<p>
    Born 28.08.1993. in Jagodina, Serbia.<br> Went to school of civil engineering, after finishing 2 years, needed to quit due to financial reasons. After that, I returned back home in Jagodina and started working in various companies different jobs.
    <br> After 3 years, in September 2018., came back to Belgrade and started learning to code. I finished 1-year program at IT-Academy (Java Developer), but after several months, I figured it out that I have more interest in front-end and started to
    learn Angular 2+ parallel with IBM BPM as I started as a trainee in one start up. There I got advanced knowledge of IBM Tools, such as Process designer, Process Portal, etc.<br> At IT-Academy I got introduced to Java, Java servlets, JSP, SQL, Hibernate
    ORM and basics of HTML5, CSS3 and JavaScript.
    <br> Nowadays, most of the time I spend learning about front-end, responsive design, Angular 9, CSS postprocessors, etc. Also, I'm practicing on consuming Web Services, such as fetching and transforming data from RESTful service, and also getting
    used to version control tools (Git, GitHub, GitLab).
</p>
<a href="https://drive.google.com/file/d/1PyGxm7_voVh8tnzpVfEp269Jc0vLUwPv/view?usp=sharing" target="__blank">Click to
    download my CV.<i class="fa fa-download" aria-hidden="true"></i></a>