<div class="flex-container">
    <form>
        <h1>CONTACT ME</h1>
        <div class="row1">
            <mat-form-field appearance="outline" class="name" hideRequiredMarker>
                <mat-label>Name</mat-label>
                <input matInput required placeholder="Enter your name" [formControl]="name">
                <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="phone" hideRequiredMarker>
                <mat-label>Phone</mat-label>
                <input matInput required placeholder="Enter your phone" [formControl]="phone">
                <mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="mail" hideRequiredMarker>
                <mat-label>Email</mat-label>
                <input matInput placeholder="example@mail.com" [formControl]="mail" required>
                <mat-error *ngIf="mail.invalid">{{getErrorMessageMail()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="text" hideRequiredMarker>
                <mat-label>Message</mat-label>
                <textarea matInput rows="6" required placeholder="Enter your message"
                    [formControl]="message"></textarea>
                <mat-error *ngIf="message.invalid">{{getErrorMessageMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="button">
            <button mat-raised-button
                [disabled]="mail.invalid || name.invalid || phone.invalid || message.invalid"
                (click)="sendMail()">
                {{ btnText }}
            </button>
        </div>
        <div style="color: green;">{{ messageText }}</div>
    </form>
</div>