<div class="container-flex">
    <div class="header">
        <h1>my projects</h1>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/Of7fmxl.png" alt="CarShop App">
                    </div>
                    <div class="text">
                        <h1>Muscle Factory Website</h1>
                        <p>Muscle factory website done in Angular9 and node.js on back, for local gym and fitness place, for one of my friends.</p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/muscle-factory" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="https://grujicdragan.github.io/muscle-factory/" target="__blank">
                                LIVE<i class="fa fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/CBTsjc8.png" alt="MovieFinder app">
                    </div>
                    <div class="text">
                        <h1>Movie Finder App</h1>
                        <p>Movie finder application done in Angular 9. Practiced fetching and transforming data from restful api. Used omdbAPI and Material UI.</p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/movie-finder" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="https://grujicdragan.github.io/movie-finder/" target="__blank">
                                LIVE<i class="fa fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/UVilcNZ.png" alt="MovieFinder app">
                    </div>
                    <div class="text">
                        <h1>Time Tracker App</h1>
                        <p>MEAN Application (MongoDB, Express, Angular, Node.js). Time Tracker Application is used for tracking time online. Login/Register done, reports page work in progress.</p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/mean-app-ng" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="https://grujicdragan.github.io/mean-app-ng/" target="__blank">
                                LIVE<i class="fa fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/68stttX.png" alt="CarShop App">
                    </div>
                    <div class="text">
                        <h1>FoodBlog Site</h1>
                        <p>FoodBlog site is simple site that I have done for practising grid, sass, animations, creating custom elements like carousel, expandable search-bar, etc. Work in progress.</p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/FoodBlog" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="https://food-blog-site.herokuapp.com/" target="__blank">
                                LIVE<i class="fa fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/c0cZLyw.png" alt="Food Recipes">
                    </div>
                    <div class="text">
                        <h1>Food Recipes Application</h1>
                        <p>Food Recipes Application mainly done for practising Angular, fetching and transforming RestAPI data, Angular Material UI components, bootstrap, media queries and other responsive design solutions, Nodemailer for handling mail forms,
                            etc.
                        </p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/FoodRecipes" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/ZQ5RKPl.png" alt="Portfolio App">
                    </div>
                    <div class="text">
                        <h1>Portfolio Site</h1>
                        <p>Portfolio site done in Angular 9. For some elements was used BootStrap 4 and Angular Material UI. On the backend is Node.js with Nodemailer for sending e-mails from contact form. Responsive part is archived through flexbox and
                            media queries CSS.</p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/portfolio-app" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="https://grujicdragan.github.io/portfolio-app/portfolio-app/" target="__blank">
                                LIVE<i class="fa fa-globe"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="flex-item1">
                    <div class="image">
                        <img src="https://i.imgur.com/XdqeHLu.png" alt="CarShop App">
                    </div>
                    <div class="text">
                        <h1>CarShop Web Application</h1>
                        <p>CarShop App is application for searching and buying new cars. Written in Java 7, as a final project at IT-Academy. On the front is JSP, all data is dynamic, stored in MySql database and connection is done with Hibernate ORM.</p>
                        <div class="links">
                            <a href="https://github.com/grujicdragan/CarShopWebApp" target="__blank">
                                CODE<i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
</div>





<!-- <div class="inner3">
            <h3>My Portfolio Site</h3>
            <img src="https://i.imgur.com/fqzrmUU.png" height="50%" width="80%" alt="">
            <p>Portfolio site done in Angular 9. Beside Angular, some elements are done with Angular Material UI.
                Backend is Node.js with Nodemailer for sending e-mails from contact form. Responsive part is archived
                through flexbox css.
            </p>
            <a href="https://github.com/grujicdragan/portfolio-app" target="__blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="inner3">
            <h3>CarShop Web Application</h3>
            <img src="https://i.imgur.com/0PfqFSU.png" height="50%" width="70%" alt="">
            <p>CarShop App is application for searching and buying new cars. Written in Java 7, as a final project at
                IT-Academy. On the front is JSP, all data is
                dynamic, stored in MySql database and connection is done with Hibernate ORM.</p>
            <a href="https://github.com/grujicdragan/CarShopWebApp" target="__blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="inner3">
            <h3>Food Recipes Application</h3>
            <img src="https://i.imgur.com/qIKgUAy.png" height="50%" width="80%" alt="">
            <p>Food Recipes Application mainly done for practising Angular, fetching and transforming RestAPI data,
                Angular Material UI components, bootstrap and other responsive design solutions, Nodemailer for handling
                mail forms, etc.</p>
            <a href="https://github.com/grujicdragan/FoodRecipes" target="__blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div> -->