<div class="container-flex">
    <div class="outer2">
        <h1>my projects</h1>
    </div>
    <div class="outer2">
        <div class="inner3">
            <h3>My Portfolio Site</h3>
            <img src="https://i.imgur.com/fqzrmUU.png" height="50%" width="80%" alt="">
            <p>Portfolio site done in Angular 9. Beside Angular, some elements are done with Angular Material UI.
                Backend is Node.js with Nodemailer for sending e-mails from contact form. Responsive part is archived
                through flexbox css.
            </p>
            <a href="https://github.com/grujicdragan/portfolio-app" target="__blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="inner3">
            <h3>CarShop Web Application</h3>
            <img src="https://i.imgur.com/0PfqFSU.png" height="50%" width="70%" alt="">
            <p>CarShop App is application for searching and buying new cars. Written in Java 7, as a final project at
                IT-Academy. On the front is JSP, all data is
                dinamic, stored in MySql database and connection is done with Hibernate ORM.</p>
            <a href="https://github.com/grujicdragan/CarShopWebApp" target="__blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
        <div class="inner3">
            <h3>Food Recipes Application</h3>
            <img src="https://i.imgur.com/qIKgUAy.png" height="50%" width="80%" alt="">
            <p>Food Recipes Application mainly done for practising Angular, fetching and transforming RestAPI data,
                Angular Material UI components, bootstrap and other responsive design solutions, Nodemailer for handling
                mail forms, etc.</p>
            <a href="https://github.com/grujicdragan/FoodRecipes" target="__blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>