.container-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-top: 10%;
    box-sizing: border-box;
}

.header h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3%;
}

img {
    width: 600px !important;
    height: 300px;
    margin-left: 10em;
}

.flex-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 12em 10em 4em;
    text-align: start;
}

.text {
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.text a {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: black;
    padding: 0.5em 1em;
    margin: 10px 10px 0px 0px;
    border: 1px solid black;
    transition: all 0.3s linear 0s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.521);
}

.text a:hover {
    color: white;
    background-color: black;
}

.text a i {
    margin-left: 10px;
}

.carousel-control-prev {
    color: black !important;
    font-size: 2em;
}

.carousel-control-next {
    color: black !important;
    font-size: 2em;
}

@media (max-width: 800px) {
    .container-flex {
        margin-top: 40%;
    }
    .header h1 {
        font-size: 18px;
    }
    .image img {
        width: 90vw !important;
        height: 30vh !important;
        margin: 3em 0 3em;
    }
    .flex-item1 {
        flex-direction: column;
        margin: 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        font-size: 12px;
        padding-bottom: 40px;
        margin-top: -30px;
    }
    .text h1 {
        text-align: center;
        font-size: 18px;
        margin: auto auto;
    }
    .text p {
        font-size: 12px;
        line-height: 14px;
        margin: 0 25px;
        text-align: center;
    }
    .text a {
        text-align: center;
        display: inline-block;
        margin-top: 20px;
    }
    .links {
        display: flex;
        width: 100vw;
        justify-content: center;
    }
}