<section id="header">
    <app-header></app-header>
</section>
<section id="home">
    <app-home></app-home>
</section>
<section id="about">
    <app-about></app-about>
</section>
<section id="portfolio">
    <app-portfolio></app-portfolio>
</section>
<section id="contact">
    <app-contact></app-contact>
    <app-footer id="footer"></app-footer>
</section>
<section id="copyright">
    <p>All rights reserved. 2020. &#169; Portfolio Website.</p>
    <p>Developed by <a href="https://grujicdragan.github.io/portfolio-app/" target="_blank">gandra</a></p>
</section>